.nav-menu ul li{
  position: relative;
  white-space: nowrap;
  padding: 10px 0 10px 28px;
  list-style-type: none;
}
.nav-menu ul{
  display: flex;
}
.navbar1{
  list-style-type: none;
  padding-left: 10px;
}
.top-fixed {
position: fixed;
top: 0;
right: 0;
left: 0;
z-index: 1030;
}
.ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}
.align-items-center {
  align-items: center!important;
}
.d-flex {
  display: flex!important;
}
.nav-menu2{
  position: relative;
  white-space: nowrap;
  padding: 10px 0 10px 0px;
  list-style-type: none;
}
.social{
  list-style-type: disc;
}
.top{
  height: 100px;
}

.imgtv{
  max-width: 282px;
  max-height: 176px;
}
.imghead{
  max-height: 200px;
  max-width: 200px;
}
.boxpad{
  padding: 5px 5px 5px 5px;
}
.view{
  text-decoration: none;
  text-align: right;
  padding-right: 30px;

}
.nav11
{
    padding-right:90px;
}
a:hover {
  text-decoration: none;
}
li a{
  color: white;
}
.imgphn1{
  max-width: 100px;
  max-height: 200px;
}
/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
.button1 {
  background-color: #4e71ba;
  color: white;
  padding: 5px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}
.button2{
  padding-left: 300px;
}
#btn1{
  background-color: #4e71ba;
  color: white;
  border: none;
  cursor: pointer;
  width: 95%;
}
  #btn3{
  background-color:red;
  color: white;
  padding: 5px 20px;
  border: none;
  cursor: pointer;
  width: 30%;
}

#btn4{
  background-color: green;
  color: white;
  padding: 5px 20px;
  border: none;
  cursor: pointer;
  width: 30%;
}
#btn5{
  background-color: green;
  color: white;
  border: none;
  cursor: pointer;
  width: 30%;
}
.btn6{
  background-color: green;
  color: white;
  border: none;
  cursor: pointer;
  width: 50%;
}
.carousel-control-next, .carousel-control-prev {
  width: 8%;
}

}
.btn7{
  background-color: red;
  color: white;
  border: none;
  cursor: pointer;
  width: 50%;
}
button:hover {
  opacity: 0.8;
}
span.psw {
  float: right;
  padding-top: 16px;
}

.imgphnbox{
    max-width: 100px;
    max-height: 200px;
}
.imgproduct{
  max-width: 300px;
  max-height: 500px;
}
.boxpad2{
    padding: 35px 10px 10px 10px;
}
.checked {
  color: orange;
}
.font1{
  font-family: Roboto,Arial,sans-serif;
  font-weight: normal;
}
.del{
  font-weight: bold;
}
.lineh{
  line-height: 60%;
}

body
  {
  background-color:white;
  }
.text
{
  color: white;
  font-size: 14px;
}
.nav-bcolor{
  background-color: lightseagreen;
}
.card
{
  border: none;
}
.header
{
  background-color:#4e71ba;
  transition: all 0.5s;
  z-index: 997;
  padding: 10px 0;
}
.bgcolor
{
  background-color: white;
  padding: 20px 20px 20px 20px;
}
.nav-l
{
  color: white;
  font-size: 20px;       }
.box
{
  width: 200px;
  height: 300px;
  border: 2px solid black;
}
.box2
{
  border: 2px cadetblue double;
  text-align: center;
}
  #menu1{
  background-color: #2CBDBB;
}
.wrap-breadcrumb ul li{
  display: inline-block;
  list-style: none;
  text-align: left;
}
.wrap-product-detail .detail-media{
  display: inline-block;
  width: 54.0229885057%;
  float: left;
}